<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Username</th>
            <th>Message</th>
            <th>Timestamp</th>

        </tr>
        </thead>


        <tr>
            <td th:text="${post.username}"></td>
            <td th:text="${post.message}"></td>
            <td th:text="${post.timeStamp}"></td>
        </tr>
    </table>

    <form th:action="@{'/posts/' + ${post.id} + '/update'}" method="post" enctype="multipart/form-data">
        <textarea class="form-control" type="text" id="message" name="message" placeholder="New message"></textarea>
        <button type="submit" id="filtrare" class="btn btn-primary">Edit Post</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/posts/feed'}">See posts</a>
        </div>
    </div>
</div>



</body>
</html>