<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Replies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>Username</th>
            <th>Message</th>
            <th>Date</th>

        </tr>
        </thead>
        <tr th:each="reply: ${replies}">
            <td th:text="${reply.fromUsername}"></td>
            <td th:text="${reply.message}"></td>
            <td th:text="${reply.timeStamp}"></td>

        </tr>
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" role="button" th:href="@{'/posts/feed'}">See posts</a>
        </div>
    </div>
</div>



</body>
</html>